.mobile_menu
  .mobile_menu__top
    .mobile_menu__logo
      a(href="#")
        img(src="../../assets/img/logo.svg", alt="")
    .mobile_menu__close-btn    
  .mobile_menu__wrap
    .mobile_menu__nav
    .mobile_menu__bottom
      a(href="#").btn.registration-js registration
      .social


