header.header
  .container
    .header__wrap
      .logo-wrap
        .hamburger
          ul
            li
            li
            li     
        .logo
          a(href="#")
            img(src="https://useimg.xyz/vegas/logo.svg", alt="").logo_desktop
            img(src="https://useimg.xyz/vegas/logo_mobile.svg", alt="").logo_mobile
      .header__nav
        nav.nav
          ul
            each item in menu
              li(class=item.active)
                a(href="#")=item.link
      .header__button-panel
        a(href="#").btn.registration-js registration
        a(href="#").btn.btn--another-kind.login-js Enter
