footer.footer
  .container
    .footer__top
      .logo
        a(href="#")
          img(src="assets/img/logo.svg", alt="")
      .social
        ul
          each val, index in ['assets/img/twit.svg', 'assets/img/mail.svg', 'assets/img/insta.svg']
            li
              a(href="#")
                img(src=val, alt="")
      .mail
        form(action="")
          .mail__input-wrap.input-wrap
            input(type="text" placeholder="enter your email")
            button(type="submit")
              img(src="assets/img/mail.svg", alt="")
  .footer__bottom(style="background-image: url('../../assets/img/footer_bg.jpg')")
    .footer__partners
      .footer__partners-slider
        .swiper-container.partners-js
          .swiper-wrapper
            .swiper-slide 
              img(src="../../assets/img/partner1.svg", alt="") 
            .swiper-slide 
              img(src="../../assets/img/partner2.svg", alt="") 
            .swiper-slide 
              img(src="../../assets/img/partner3.svg", alt="") 
            .swiper-slide 
              img(src="../../assets/img/partner4.svg", alt="") 
      .footer__partners-text
        p
          span Vegas partners 
          | affiliate program               