* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  position: relative;
  font-family: $roboto;
  background-color: $bc;
}

a {
  text-decoration: none;
  transition: $tr;
}

img {
  width: 100%;
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

input,
button {
  outline: none;
  border: none;
  background: transparent;
}

// flex footer
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .content {
    flex: 1 0 auto;
  }
}



// flex footer end

// container
.container {
  width: 100%;
  padding-right: rem(15px);
  padding-left: rem(15px);
  margin-right: auto;
  margin-left: auto;
  max-width: rem(1170px);
  position: relative;
  box-sizing: border-box;

  @include lg {
    max-width: rem(960px);
  }

  @include md {
    max-width: rem(720px);
  }

  @include sm {
    max-width: rem(540px);
  }

  @include xs {
    max-width: 100%;
  }
}


// container end

// btn

.btn {
  max-width: 160px;
  width: 100%;
  min-height: 41px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  background-color: $mc;
  text-transform: uppercase;
  color: $wc;
  box-shadow: inset 10px 10px 10px 1px rgba(0, 0, 0, 0.44);
  font-weight: 700;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba($mc, .88);
  }

  &--another-kind {
    background-color: $sc;
    color: $bc;

    &:hover {
      box-shadow: 0 8px 16px 0 rgba($sc, .88);
    }
  }
}


// btn end