.footer {
  flex: 0 0 auto;
  padding: rem(100px) 0 0;

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 0 0 rem(100px) 0;
  }

  &__bottom {
    background-size: cover;
    background-position: center center;
    padding: rem(30px) 0;
  }

  .mail {
    max-width: rem(400px);
    width: 100%;

    button {
      cursor: pointer;
    }
  }

  &__partners-slider {
    padding-bottom: rem(30px);
  }

  &__partners {
    max-width: rem(820px);
    width: 100%;
    margin: 0 auto;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba($bc, 0.4);
      z-index: 2;
    }

    .swiper-wrapper {
      display: flex;
      align-items: center;
    }
  }

  &__partners-text {
    p {
      text-align: center;
      color: $wc;
      font-weight: 700;
      font-size: rem(24px);

      span {
        text-transform: uppercase;
        color: $mc;
      }
    }
  }
}