.hamburger {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: $mc;
  border-radius: rem(3px);
  padding: rem(9px);
  position: relative;
  margin-right: rem(20px);
  display: none;

  @include sm {
    display: block;
  }

  ul {
    li {
      width: 75%;
      height: 2px;
      background-color: $wc;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      &:nth-child(1) {
        top: rem(10px);
        transition: all .5s;
      }

      &:nth-child(2) {
        top: 51%;
        transform: translateY(-50%);
        transform: translateX(-50%);
        transition: $tr;
      }

      &:nth-child(3) {
        bottom: rem(7px);
        transition: all .5s;
      }
    }
  }
}

.hamburger-open {
  ul {
    li {

      &:first-child {
        top: 50%;
        transform: translateY(-50%) translateX(-50%) rotate(45deg);
      }

      &:nth-child(2) {
        left: -200%;
        opacity: 0;
      }

      &:last-child {
        top: 50%;
        transform: translateY(-50%) translateX(-50%) rotate(-45deg);
      }
    }
  }
}