.header {
  background-color: $bc;
  padding: 15px 0;
  position: relative;
  z-index: 2;

  .container {
    @include sm {
      max-width: 100%;
    }
  }

  .logo-wrap {
    display: flex;
    align-items: center;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: rem(335px);
    width: 100%;

    @include lg {
      flex-direction: column;
      max-width: rem(200px);

      .registration-js {
        margin-bottom: rem(15px);

        @include sm {
          margin: 0;
        }

        @include xs {
          margin-bottom: rem(10px);
        }
      }
    }

    @include md {
      max-width: rem(120px);

      .btn {
        max-width: rem(130px);
        font-size: rem(14px);

        @include sm {
          flex-direction: row;
          max-width: rem(160px);
        }

        @include xs {
          max-width: rem(140px);
          font-size: rem(13px);
          min-height: rem(35px);
        }
      }
    }

    @include sm {
      flex-direction: row;
      max-width: rem(340px);
    }

    @include xs {
      flex-direction: column;
      max-width: rem(160px);
    }
  }
}

.nav {
  width: 100%;

  @include sm {
    display: none;
  }

  ul {
    text-align: center;

    li {
      display: inline-block;
      position: relative;
      padding-left: rem(22px);
      margin-right: rem(15px);

      @include md {
        padding-left: rem(15px);
        margin-right: rem(10px);
      }

      &:hover {
        &:before {
          overflow: hidden;
          filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.7));
          background-image: linear-gradient(0deg, #535258 0%, #5d5453 6%, #73685f 12%, #786c56 20%, #b09878 27%, #f0deb3 35%, #fcebbe 39%, #eae1d1 44%, #ffffff 51%, #fefbf0 61%, #d2c1ab 66%, #988978 70%, #74685b 76%, #74685b 80%, #7d7161 86%, #9e9278 90%, #988c7b 100%);
          border: 1px solid #fefbf0;
        }
      }

      &:last-child {
        margin-right: 0;
      }

      &:before {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: rem(11px);
        height: rem(11px);
        border-radius: 100%;
        border: 1px solid $mc;
        transition: $tr;

        @include md {
          width: rem(7px);
          height: rem(7px);
        }
      }

      a {
        color: $wc;
        text-transform: uppercase;

        @include md {
          font-size: rem(15px);
          text-transform: none;
        }
      }

      &.active {
        &:before {
          overflow: hidden;
          filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.7));
          background-image: linear-gradient(0deg, #535258 0%, #5d5453 6%, #73685f 12%, #786c56 20%, #b09878 27%, #f0deb3 35%, #fcebbe 39%, #eae1d1 44%, #ffffff 51%, #fefbf0 61%, #d2c1ab 66%, #988978 70%, #74685b 76%, #74685b 80%, #7d7161 86%, #9e9278 90%, #988c7b 100%);
          border: 1px solid #fefbf0;
        }
      }
    }
  }
}