.main-screen {
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  &__title {
    color: $wc;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: rem(50px);
    position: relative;
    z-index: 1;
    padding-bottom: rem(50px);

    @include sm {
      padding: 0;
    }

    h1 {
      font-size: rem(70px);
      line-height: rem(70px);
      margin: 0;
      position: sticky;
      top: 65%;
      text-shadow: 1px 10px 10px black, 0 0 1em $wc;

      @include lg {
        font-size: rem(65px);
        line-height: rem(65px);
      }

      @include md {
        font-size: rem(50px);
        line-height: rem(50px);
      }

      @include sm {
        font-size: rem(45px);
        line-height: rem(45px);
        top: 75%;
        padding-bottom: rem(20px);
      }

      @include xs {
        font-size: rem(38px);
        line-height: rem(38px);
      }

    }
  }

  .gambling-chip {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh;

    &__list {
      width: 100%;
      height: 100vh;

      li {
        position: absolute;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration: 40s;

        &:nth-child(1) {
          animation-name: swing1;
          top: rem(100px);
          left: rem(50px);
          width: rem(100px);

          @include lg {
            width: rem(80px);
          }

          @include md {
            width: rem(60px);
          }

          @include xs {
            left: rem(10px);
            width: rem(40px);
          }
        }

        &:nth-child(2) {
          animation-name: swing2;
          top: rem(350px);
          left: 30%;
          width: rem(90px);

          @include lg {
            width: rem(70px);
          }

          @include md {
            width: rem(50px);
          }

          @include xs {
            width: rem(40px);
          }
        }

        &:nth-child(3) {
          animation-name: swing3;
          top: rem(300px);
          right: 20%;
          width: rem(140px);

          @include lg {
            width: rem(120px);
          }

          @include md {
            width: rem(100px);
          }

          @include xs {
            right: rem(10px);
            width: rem(60px);
          }
        }

        &:nth-child(4) {
          animation-name: swing1;
          top: rem(50px);
          right: 20%;
          width: rem(140px);

          @include lg {
            width: rem(120px);
          }

          @include md {
            width: rem(100px);
          }

          @include xs {
            right: rem(10px);
            width: rem(60px);
          }
        }

        &:nth-child(5) {
          animation-name: swing3;
          top: rem(350px);
          left: 0;
          width: rem(180px);

          @include lg {
            width: rem(160px);
          }

          @include md {
            width: rem(140px);
          }

          @include xs {
            width: rem(70px);
            top: rem(300px);
          }

        }

        &:nth-child(6) {
          animation-name: swing2;
          top: rem(350px);
          right: 37%;
          width: rem(50px);

          @include lg {
            width: rem(30px);
          }

          @include md {
            width: rem(25px);
          }

          @include xs {
            width: rem(30px);
            right: 40px;
            top: 200px;
          }
        }

        &:nth-child(7) {
          animation-name: swing1;
          top: rem(170px);
          left: 27%;
          width: rem(150px);

          @include lg {
            width: rem(130px);
          }

          @include md {
            width: rem(120px);
          }

          @include xs {
            width: rem(60px);
          }
        }

        &:nth-child(8) {
          animation-name: swing3;
          top: rem(470px);
          right: 17%;
          width: rem(50px);

          @include lg {
            width: rem(30px);
          }

          @include md {
            top: rem(450px);
          }

          @include sm {
            top: rem(400px);
          }
        }

      }
    }
  }
}

@keyframes swing1 {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes swing2 {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(-360deg);
  }
}

@keyframes swing3 {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(-360deg);
  }
}