.tabs {
  padding-bottom: rem(120px);
  background-size: cover;
  position: relative;

  @include lg {
    padding-bottom: rem(100px);
  }

  @include md {
    padding-bottom: rem(80px);
  }

  @include sm {
    padding-bottom: rem(60px);
  }

  @include xs {
    padding-bottom: rem(40px);
  }

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 200%;
    background-image: url('../../assets/img/tabs_bg1.png');
    top: -80%;
    background-size: cover;
    background-position: top;
  }

  &__content {
    padding-left: rem(100px);

    @include lg {
      padding-left: rem(50px);
    }

    @include md {
      padding-left: rem(40px);
    }

    @include sm {
      padding-left: 0;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0;
    width: 100%;
    margin-bottom: rem(150px);
    white-space: nowrap;

    @include lg {
      margin-bottom: rem(100px);
    }

    @include md {
      margin-bottom: rem(70px);
    }

    @include sm {
      margin-bottom: rem(50px);
    }

    @include xs {
      margin-bottom: rem(40px);
      overflow-x: scroll;
    }

    li {
      display: inline-block;
      position: relative;
      flex-basis: 14.9%;
    }

    a {
      color: $wc;
      font-weight: 700;
      outline: none;
      padding: 0 rem(20px);
      text-decoration: none;
      transition: $tr;
      padding: rem(30px) 0;
      display: block;
      text-align: center;

      @include lg {
        padding: rem(18px) 0;
      }

      @include md {
        padding: rem(16px) 0;
      }

      @include sm {
        padding: rem(14px) 0;
        font-size: rem(15px);
      }

      @include xs {
        padding: rem(12px) rem(15px);
        font-size: rem(14px);
      }


      &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: rem(3px);
        left: 0;
        bottom: 0;
        background-color: #002018;
      }

      &:after {
        position: absolute;
        content: '';
        width: 0;
        height: rem(4px);
        left: 50%;
        transform: translate(-50%);
        bottom: rem(0px);
        background: $sc;
        transition: $tr;
      }
    }
  }

  &__item {
    display: none;
    color: $wc;
    position: relative;
    z-index: 999;
    padding: 0 rem(20px);

    @include lg {
      padding: 0 rem(15px);
    }

    &:first-child {
      display: block;
    }

    * {
      color: $wc;
    }

    p {
      font-size: rem(24px);
      line-height: rem(30px);
      margin-bottom: rem(20px);

      @include lg {
        font-size: rem(22px);
        line-height: rem(27px);
      }

      @include md {
        font-size: rem(20px);
        line-height: rem(25px);
      }

      @include xs {
        font-size: rem(13px);
        line-height: rem(14px);
      }
    }
  }

  .current a {
    color: $sc;
    position: relative;

    &:after {
      width: 100%;
      border-radius: rem(2px);
      filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.7));
      background-image: linear-gradient(0deg, #ffac00 0%, #ffae00 6%, #ffb800 12%, #ffb900 20%, #ffd700 27%, #ffe200 35%, #ffe200 39%, #ffe200 44%, #ffe28c 51%, #ffe200 61%, #ffe200 66%, #ffc800 70%, #ffb800 76%, #ffb800 80%, #ffbb00 86%, #ffd100 90%, #ffca00 100%);
    }
  }

  &__mob-wrap {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  &__mob {
    max-width: rem(290px);
    min-height: rem(620px);
    border-radius: rem(45px);
    border: rem(10px) solid $wc;
    width: 100%;
    padding: rem(130px) 0 rem(20px);
    box-sizing: border-box;
    position: relative;

    @include lg {
      max-width: rem(270px);
      min-height: rem(560px);
      padding: rem(100px) 0 rem(15px);
    }

    @include sm {
      max-width: rem(240px);
      min-height: rem(520px);
      padding: rem(110px) 0 rem(15px);
    }

    @include xs {
      max-width: rem(130px);
      min-height: rem(300px);
      border-radius: rem(25px);
      border: rem(5px) solid $wc;
      padding: rem(70px) 0 rem(15px);
    }

    &__mob-img {
      position: relative;
    }

    .current {
      display: block;
    }
  }

  &__title {
    z-index: 1;
    position: relative;
    font-weight: 700;
    font-size: rem(46px);
    letter-spacing: rem(5px);
    margin-bottom: rem(20px);

    @include lg {
      font-size: rem(37px);
    }

    @include md {
      font-size: rem(30px);
    }

    @include xs {
      font-size: rem(13px);
    }
  }

  &__mob-nav {
    max-width: rem(50px);
    min-height: rem(217px);
    border: rem(1px) solid #00ca91;
    border-radius: rem(25px) 0 0 rem(25px);
    width: 100%;
    background-color: rgba(#002c26, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;

    @include lg {
      max-width: rem(45px);
      min-height: rem(200px);
    }

    @include xs {
      max-width: rem(20px);
      min-height: rem(150px);
    }

    ul {
      flex-direction: column;

      li {
        margin: rem(10px);
        width: rem(8px);
        height: rem(8px);
        border-radius: 4px;
        background-color: #031411;
        padding: 0;
        border-radius: 100%;
        pointer-events: none;
        box-shadow: 0 0 10px rgba(#00ca91, 0.5);

        @include xs {
          width: rem(3px);
          height: rem(3px);
        }

        &:before,
        &:after {
          display: none;
        }
      }
    }

    .current {
      overflow: hidden;
      filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.7));
      background-image: linear-gradient(0deg, #535258 0%, #5d5453 6%, #73685f 12%, #786c56 20%, #b09878 27%, #f0deb3 35%, #fcebbe 39%, #eae1d1 44%, #ffffff 51%, #fefbf0 61%, #d2c1ab 66%, #988978 70%, #74685b 76%, #74685b 80%, #7d7161 86%, #9e9278 90%, #988c7b 100%);
      border: 1px solid #fefbf0;
    }
  }

  &__item-content {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 30%;
    width: 100%;

    @include xs {
      margin-left: 15%;
    }

    .btn {
      color: $wc !important;

      // @include xs {
      //   font-size: rem(13px) !important;
      // }
    }
  }

  &__mob-arrow {
    position: absolute;
    width: rem(15px);
    height: rem(2px);
    background-color: #8e7576;
    top: rem(40px);

    &:before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-top: 5px solid transparent;
      border-right: 5px solid #8e7576;
      border-bottom: 5px solid transparent;
    }
  }

  &__mob-hamburger {
    position: absolute;
    right: rem(20px);
    top: rem(30px);

    i {
      width: rem(15px);
      height: rem(2px);
      margin-bottom: rem(4px);
      background-color: #1a364b;
      display: block;
    }
  }
}