section.main-screen(style="background-image: url('assets/img/first-screen-bg.jpg')")
  .container
    .main-screen__title
      each item in mainHeader
        h1=item.title
    .gambling-chip
      ul.gambling-chip__list
        each item in gamblingChip
          li 
            img(src=item.gamblingChipImg alt="")
