section.main-screen(style="background-image: url('/assets/img/first-screen-bg.jpg')")
  .container
    .main-screen__title
      h1 Reliable terms <br> of cooperation
    .gambling-chip
      ul.gambling-chip__list
        li 
          img(src="../../assets/img/gambling_chip1.svg", alt="") 
        li
          img(src="../../assets/img/gambling_chip2.svg", alt="") 
        li
          img(src="../../assets/img/gambling_chip3.svg", alt="") 
        li
          img(src="../../assets/img/gambling_chip4.svg", alt="") 
        li
          img(src="../../assets/img/gambling_chip5.svg", alt="") 
        li
          img(src="../../assets/img/gambling_chip6.svg", alt="") 
        li
          img(src="../../assets/img/gambling_chip5.svg", alt="") 
        li
          img(src="../../assets/img/gambling_chip5.svg", alt="") 
 
