.popup.registration
  .popup__wrap(style="background-image: url('assets/img/tabs_section_bg.jpg')")
    .title-wrap
      h2.title registartion
    form
      .input-wrap
        input(type="text" name="email" placeholder="enter email"  autocomplete="off")
      .input-wrap
        input(type="password" placeholder="enter password"  autocomplete="off")
      .input-wrap
        input(type="password" placeholder="confirm the password"  autocomplete="off")
      .popup__agree
        input(type="checkbox" id="agree")
        label(for="agree") Lorem ipsum 
           a(href="#") dolor sit.

      .callback-btn
        a(href="#") Contact us
          span
            img(src="assets/img/callback.png", alt="")

      button(type="submit").btn registration

.popup.callback
  .popup__wrap(style="background-image: url('assets/img/tabs_section_bg.jpg')")
    .title-wrap
      h2.title CAllback
    form
      .input-wrap
        input(type="text" name="name" placeholder="enter your name")
      .input-wrap
        input(type="text" placeholder="enter your email")
      .input-wrap
        input(type="number" name="number" placeholder="enter your number")
      .popup__agree
        input(type="checkbox" id="agree")
        label(for="agree") Lorem ipsum 
          a(href="#") dolor sit.

      .callback-btn
        a(href="#") Contact us
          span
            img(src="assets/img/callback.png", alt="")

      button(type="submit").btn send

.popup.login
  .popup__wrap(style="background-image: url('assets/img/tabs_section_bg.jpg')")
    .title-wrap
      h2.title CAllback
    form
      .input-wrap
        input(type="text" placeholder="enter your email")
      .input-wrap
        input(type="number" name="password" placeholder="enter your password")
      .popup__agree
        input(type="checkbox" id="agree")
        label(for="agree") Lorem ipsum 
          a(href="#") dolor sit.

      .callback-btn
        a(href="#") Contact us
          span
            img(src="assets/img/callback.png", alt="")

      button(type="submit").btn log in