.advantages(style="background-image: url('https://useimg.xyz/vegas/advantage_bg.jpg')")
  .advantages__bg-elent
    img(src="assets/img/bg_elem1.svg", alt="")
  .advantages__bg-elent
    img(src="assets/img/bg_elem2.svg", alt="") 
  .advantages__bg-mobile
    img(src="https://useimg.xyz/vegas/advantage_mobile_bg.jpg", alt="")
  .container
    .title-wrap
      h2.title Why is it profitable <br> with us?  
    .advantages__slider
      .swiper-container.advantages-js
        .swiper-wrapper
          each item in adv
            .swiper-slide  
              .advantages__item
                .advantages__count
                  span=item.count
                .advantages__text
                  p=item.text 
    .callback-btn.callback-js
      a(href="#") Contact us
        span
          img(src="https://useimg.xyz/vegas/callback.png", alt="")
