.get-start(style="background-image: url('assets/img/get_start_bg.jpg')")
  .container
    .title-wrap
      h2.title How to start?  
    .steps
      .steps__wrap(style="background-image: url('assets/img/steps_bg.jpg')")
        .swiper-container.steps-js
          .swiper-wrapper
            each item in getStart
              .swiper-slide
                .steps__content
                  .steps__step
                    span=item.step    
                  .title-wrap
                    h2.title.title--main=item.title
                  p=item.text
                  a(href="#").btn.btn.registration-js registration
      .pagination          
        .button-next.step-btn 
          img(src="assets/img/step_prev.png", alt="")
        .button-prev.step-btn
          img(src="assets/img/step_next.png", alt="") 