.get-start(style="background-image: url('assets/img/get_start_bg.jpg')")
  .container
    .title-wrap
      h2.title How to start?  
    .steps
      .steps__wrap(style="background-image: url('assets/img/steps_bg.jpg')")
        .swiper-container.steps-js
          .swiper-wrapper
            .swiper-slide
              .steps__content
                .steps__step
                  span Step1    
                .title-wrap
                  h2.title.title--main registration  
                p To become a partner of the Rock in Affiliate program, 
                  |register in a few clicks on the presented form.
                a(href="#").btn registration
            .swiper-slide
              .steps__content
                .steps__step
                  span Step2    
                .title-wrap
                  h2.title.title--main registration  
                p To become a partner of the Rock in Affiliate program, 
                  |register in a few clicks on the presented form.
                a(href="#").btn registration
      .pagination          
        .button-next.step-btn 
          img(src="assets/img/step_prev.png", alt="")
        .button-prev.step-btn
          img(src="assets/img/step_next.png", alt="") 