extends layout/main/main
block title
  | main
block main
  .wrapper
    .content
      include includes/header/header
      include includes/main_screen/main_screen
      include includes/tabs_section/tabs_section
      include includes/get_srart/get_srart
      include includes/advantages/advantages
      include includes/popup/popup
    include includes/footer/footer
  include includes/scripts 
